/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL HEIGHT FIX */
html, body, #root {
  height: 100%;
}

/* MAIN BACKGROUND */
body {
  font-family: "Poppins", sans-serif;



  background-attachment: fixed;
}

/* REMOVE ANY WHITE BACKGROUND FROM ROOT */
#root {
  background: transparent;
}